.container {
    max-width: unset;
}

body {
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(18,26,27,1) 9%, rgba(142,107,92,1) 85%);

}

h1 {
  font-weight: bold;
  font-size: 100px;
}

h2 {
	color: white;
	
}
.button {
	font-size: 30px;
}
table {
	border: 1px solid;
	width: 100%
	
}

thead {
  background: black;
  color: white;
  position: sticky;
  top: 0;	
}

tbody {
  background: white;
  color: black;
}

th, td{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.navbar {
	background-color: black;
	color: white;
}

.profile {
  border-radius: 50%;
}

.scroll {
  background-color: #fed9ff;
  width: 700px;
  height: 600px;
  overflow: auto;
  text-align: justify;
  padding: 20px;
      }
.homeh2 {
	color: white;
}

#map {
  height: 600px; /* The height is 400 pixels */
  width: 50%; /* The width is the width of the web page */
}

.aboutText {
	color: white;
}

.profileH1 {
	color: white;
}

.profileH3 {
	color: white;
}