.container {
    max-width: unset;
}

body, container-fluid{
background: rgb(216,216,226);
background: linear-gradient(45deg, rgba(216,216,226,1) 0%, rgba(0,3,82,0.7217480742296919) 100%);
}

h1 {
  font-weight: bold;
  font-size: 100px;
}

h2 {
	color: white;
	
}
.button {
  font-size: 30px;
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
table {
	border: 1px solid;
	width: 100%
	
}

thead {
  background: black;
  color: white;
  position: sticky;
  top: 0;	
}

tbody {
  background: white;
  color: black;
}

th, td{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}


.navbar {
	background-color: black;
	color: white;
}

.profile {
  border-radius: 50%;
}

.scroll {
  background-color: #fed9ff;
  width: 700px;
  height: 600px;
  overflow: auto;
  text-align: justify;
  padding: 20px;
      }
.homeh2 {
	text-align: center;
	color: white;
}

#map {
  height: 600px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  align-items:left;
  margin-right:100px;
}

.aboutText {
	color: white;
}

.profileH1 {
	color: white;
}

.profileH3 {
	color: white;
}

.create-new-post{
	background-color:rgba(216,216,226,1);
    align-items:center;
}


.flex-child {
    flex: 1;
    border: 2px solid black;
    align-items:center;
}  

.flex-child:first-child {
	box-sizing: border-box;
	height: 492px;
	align-items: center;
} 

.flex-child:second-child{
	box-sizing: border-box;
}